* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background: url("background.jpg") center center/cover no-repeat fixed;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,.75);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #00ffff;
    text-shadow: 0 0 15px #00ffff;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    transition: .3s;
}

nav a:hover {
    color: #00ffff;
}

.hero {
    min-height: 100vh;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-logo {
    width: 220px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 60px;
    color: #00ffff;
    text-shadow: 0 0 25px #00ffff;
}

.hero p {
    margin-top: 15px;
    font-size: 22px;
}

.buttons {
    margin-top: 35px;
    display: flex;
    gap: 20px;
}

button,
.discord-btn {
    padding: 14px 28px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
}

button {
    background: #00ffff;
    font-weight: bold;
}

button:hover {
    transform: scale(1.08);
}

.discord-btn {
    background: #5865F2;
    color: white;
}

.discord-btn:hover {
    transform: scale(1.08);
}
function copyIP() {
    navigator.clipboard.writeText("terramcraft.falix.gg");

    alert("IP skopiowane!");
}
.discord-btn {
    background: #5865F2;
    color: white;
    padding: 15px 35px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(88,101,242,0.7);
    transition: 0.3s;
    display: inline-block;
}

.discord-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 45px rgba(88,101,242,1);
}
